.page1 h3{

     color:blue;
     font-size: 24px;
     text-align: center;

}

.page1 p{
    
     color:red;
     font-size: 18px;
     font-family: sans-serif;
     font-variant: no-common-ligatures;
}
/*21 css properties right now */
.page1 ul{
     list-style-type: square;
     border: solid;
     border-color: blue;
     border-bottom-right-radius: 80px 80px;
}

.page1{
     background-color: aqua;

}







@keyframes slidein{
     from{
          transform: translateX(0%);
     }
     to{
          transform:translateX(100%);
     }
}

.hobbies ul{
     animation: slidein 3s linear 1s infinite alternate;
}

.hobbies table{
     border:solid;
}

.recipe table{
     border:solid;
}
.recipe li::before{
     content: "";
     width: 20px;
     height: 20px;
     display: inline-block;
     background-image: url("images/fork.png");
     background-size: cover;
     margin-right: 6px;
     

}
.About cite{
     text-decoration: underline;
}