.page1 h3{

     color:blue;
     font-size: 24px;
     text-align: center;

}

.page1 p{
    
     color:red;
     font-size: 18px;
     font-family: sans-serif;
     font-variant: no-common-ligatures;
}
/*5 css properties right now /*